@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-body {
    font-family: 'Roboto', sans-serif;
}

section.top-nav {
    border-bottom: 1px solid #ada9a9;
}

.news-div-row .card-body img {
    width: 200px;
    border-radius: 50%;
}